@model string
<div>
    <h3>@Model</h3>
    This partial view came from /Views/Shared/_AuthorPartial.cshtml.<br />
</div>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
