@model TagHelpersBuiltIn.Controllers.Speaker
@{
    ViewData["Title"] = "Speaker Detail";
}

<h2>Speaker Detail</h2><br />
<span>Number: </span>@Model.SpeakerId<br />

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}

